.App {
  text-align: center;
}
/* input  */
.input-textboxes, buttons {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.div-container {
  /* background: rgb(163, 168, 135); */
  /* border: 1px solid #AAAAAA; */
  padding: 10px;
  /* color: mediumblue; */
  width: 100%;
  /* height: 100%; */
  text-align: center;
}
.labels {
  padding-left:26px;
  width:125px;
  text-transform: uppercase;
  display:inline-block
}

.area{
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: #e5e5e5;
}
.forms {
  width: 50%;
  margin: 0 auto;
}
